* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

}

ul {
    margin: 30px;
}

ul li {
    display: inline;
    margin: 0 50px;
}

header {
    height: 600px;
}

img {
    width: 100%;
    height: 100%;
}

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 50px 20px;
}

.main p {
    margin-bottom: 50px;
}

a {
    color: #fff;
    background-color: #333;
    padding: 20px 50px;
    margin: 50px;
    border-radius: 10px;
    text-decoration: none;
}

.more {
    margin: 250px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftSide {
    width: 60%;
}

.right {
    border-radius: 50%;
}